https://github.com/UKPLab/sentence-transformers/releases/download/v2.2.2/all-MiniLM-L6-v2.tar.gz
sentence-transformers==2.2.2
torch>=1.6.0
transformers>=4.6.0
langchain
langchain_core
python-dotenv
streamlit
faiss-cpu
sentence_transformers
PyMuPDF
numpy
torch
rank_bm25
datasets
transformers[torch]